/*.prf
/*.log
/*.aux
/*.bbl
/*.blg
/*.out
/*.nlo
/*.toc
/*.idx
/*.txt

/*~
/*-blx.bib
/*.auxlock
/*.synctex.gz
/*.lyx.emergency

/LockChartSolving.lo*
/LockChartSolving.run.xml
/LockChartSolving.tex
/LockChartSolving-figure*

/Diagonal.sqlite
/listings

/BaselineSagSkew.tex
/Diagonal*.tex
/GreedyExactSkew.tex
/MinGvl*.tex
/N102.tex
/SagExactSkew.tex
/SagGreedySkew.tex
/SatDiagAbs.tex
/SatDiagRel.tex
/listings.sty
/lst*.sty

*.o
*.so
*.dll
sqlite3*
